challenge-calculator-hatch/Challenge.exe
*.sln
*.csproj
*.json
*.dll
*.exe
*.pdb
challenge-calculator-hatch/obj/challenge-calculator-hatch.csproj.nuget.g.props
challenge-calculator-hatch/obj/challenge-calculator-hatch.csproj.nuget.g.targets
challenge-calculator-hatch/obj/project.nuget.cache
challenge-calculator-hatch/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
challenge-calculator-hatch/obj/Debug/netcoreapp3.1/challenge-calculator-hatch.AssemblyInfo.cs
challenge-calculator-hatch/obj/Debug/netcoreapp3.1/challenge-calculator-hatch.AssemblyInfoInputs.cache
challenge-calculator-hatch/obj/Debug/netcoreapp3.1/challenge-calculator-hatch.assets.cache
challenge-calculator-hatch/obj/Debug/netcoreapp3.1/challenge-calculator-hatch.csproj.CoreCompileInputs.cache
challenge-calculator-hatch/obj/Debug/netcoreapp3.1/challenge-calculator-hatch.csproj.FileListAbsolute.txt
challenge-calculator-hatch/obj/Debug/netcoreapp3.1/challenge-calculator-hatch.csprojAssemblyReference.cache
challenge-calculator-hatch/obj/Debug/netcoreapp3.1/challenge-calculator-hatch.genruntimeconfig.cache
challenge-calculator-test/obj/challenge-calculator-test.csproj.nuget.g.props
challenge-calculator-test/obj/challenge-calculator-test.csproj.nuget.g.targets
challenge-calculator-test/obj/project.nuget.cache
challenge-calculator-test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
challenge-calculator-test/obj/Debug/netcoreapp3.1/challenge-calculator-test.AssemblyInfo.cs
challenge-calculator-test/obj/Debug/netcoreapp3.1/challenge-calculator-test.AssemblyInfoInputs.cache
challenge-calculator-test/obj/Debug/netcoreapp3.1/challenge-calculator-test.assets.cache
challenge-calculator-test/obj/Debug/netcoreapp3.1/challenge-calculator-test.csproj.CopyComplete
challenge-calculator-test/obj/Debug/netcoreapp3.1/challenge-calculator-test.csproj.CoreCompileInputs.cache
challenge-calculator-test/obj/Debug/netcoreapp3.1/challenge-calculator-test.csproj.FileListAbsolute.txt
challenge-calculator-test/obj/Debug/netcoreapp3.1/challenge-calculator-test.csprojAssemblyReference.cache
challenge-calculator-test/obj/Debug/netcoreapp3.1/challenge-calculator-test.genruntimeconfig.cache
XUnitTestProject1/obj/project.nuget.cache
XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.g.props
XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.g.targets
XUnitTestProject1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
XUnitTestProject1/obj/Debug/netcoreapp3.1/XUnitTestProject1.AssemblyInfo.cs
XUnitTestProject1/obj/Debug/netcoreapp3.1/XUnitTestProject1.AssemblyInfoInputs.cache
XUnitTestProject1/obj/Debug/netcoreapp3.1/XUnitTestProject1.assets.cache
XUnitTestProject1/obj/Debug/netcoreapp3.1/XUnitTestProject1.csproj.CoreCompileInputs.cache
XUnitTestProject1/obj/Debug/netcoreapp3.1/XUnitTestProject1.csproj.FileListAbsolute.txt
XUnitTestProject1/obj/Debug/netcoreapp3.1/XUnitTestProject1.csprojAssemblyReference.cache
*.suo
*.props
*.targets
*.cache
Calc-Challenge/Calc-Challenge/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Calc-Challenge/Calc-Challenge/obj/Debug/netcoreapp3.1/Calc-Challenge.AssemblyInfo.cs
Calc-Challenge/Calc-Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Calc-Challenge/Calc-Test/obj/Debug/netcoreapp3.1/Calc-Test.AssemblyInfo.cs
Calc-Challenge/.vs/Calc-Challenge/DesignTimeBuild/.dtbcache.v2
Calc-Challenge/.vs/Calc-Challenge/v16/TestStore/0/000.testlog
Calc-Challenge/.vs/Calc-Challenge/v16/TestStore/0/testlog.manifest
Calc-Challenge/Calc-Challenge/obj/Debug/netcoreapp3.1/Calc-Challenge.csproj.FileListAbsolute.txt
Calc-Challenge/Calc-Test/obj/Debug/netcoreapp3.1/Calc-Test.csproj.CopyComplete
Calc-Challenge/Calc-Test/obj/Debug/netcoreapp3.1/Calc-Test.csproj.FileListAbsolute.txt
Calc-Challenge/Calc-Challenge/Program
